.divtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .App-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #1C1C1C;
    margin-bottom: 20px;
  }
  
  .header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px -6px black;
  }
  