/* Estilos para a tabela móvel, escondida por padrão */
.mobile-table {
  display: none;
}

/* Estilos para a tabela normal, visível por padrão */
.desktop-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background: linear-gradient(to bottom, #5A84C0, #594ED2);
  color: white;
  font-weight: bold;
}

td {
  background-color: #fff;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

input {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 4%;
}

.table-container {
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  /* Mostrar tabela móvel e esconder tabela normal */
  .mobile-table {
    display: table;
    width: 100%;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container h2 {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .search-container input {
    width: 100%;
    margin-right: 0;
  }

  .desktop-table {
    display: none;
  }
  
  /* Ajustar a tabela para ocupar a largura total da tela */
  .mobile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .mobile-table th, .mobile-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .mobile-table th {
    background: linear-gradient(to bottom, #5A84C0, #594ED2);
    color: white;
    font-weight: bold;
  }

  .mobile-table td {
    background-color: #fff;
  }
}
    

  